{
    "extends": "eslint:recommended",
    "rules": {
        "no-unsafe-finally": "off",
        "no-native-reassign": "off",
        "complexity": ["off", 11],
        "comma-dangle": "error",
        "require-yield": "error",
        "1": "console メソッドを許可",
        "no-console": 0,
        "2": "alert メソッドを許可",
        "no-alert": 0
    },
    "env": {
        "browser": true,
        "jquery": true,
        "es6": true
    },
    "globals": {
        "DsairConst": false,
        "DsairDebug": false,
        "inherits": false,
        "FlashairUtilMock": false,
        "FlashairUtil": false,
        "Device": false,
        "DsairCommand": false,
        "Toast": false,
        "DsairMeter": false,
        "DsairCabView": false,
        "DsairAddressInputDialog": false,
        "DsairCabControl": false,
        "DsairMeterControl": false,
        "DsairPowerArbitor": false,
        "DsairAnalogControl": false,
        "DsairAnalogView": false,
        "DsairAnalogBar": false,
        "DsairAnalogBarControl": false,
        "DsairAccControl": false,
        "DsairAccView": false,
        "DsairAccManager": false,
        "DsairMapControl": false,
        "DsairMapToolView": false,
        "DsairMapPanelView": false,
        "DsairCVControl": false,
        "DsairCVView": false,
        "DsairCVEditDialog": false,
        "DsairMsgDialog": false,
        "DsairConfigControl": false,
        "DsairConfigView": false,
        "DsairStatusControl": false,
        "DsairStatusView": false,
        "DsairSoundControl": false,
        "DsairSoundView": false,
        "DsairTabControl": false,
        "DsairDialog": false,
        "DsairSpeedControl": false,
        "DsairMeterBase": false,
        "DsairCircularMeter": false,
        "DsairFileControl": false,
        "DsairFileSelectionDialog": false,
        "dsairApp":true
    }
}
